<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>


<div style="width: 500px; margin: 0 auto;">
    <form class="form-horizontal" role="form" method="POST" action="/edit_student/{{nid}}">
        {% csrf_token %}
        
        <div class="form-group">
            <label class="col-sm-2 control-label">国际标准书号</label>
            <div class="col-sm-10">
                {{obj.ISBN}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">图书类型编号</label>
            <div class="col-sm-10">
                {{obj.typeid}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">书名</label>
            <div class="col-sm-10">
                {{obj.bookname}}
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">作者</label>
            <div class="col-sm-10">
                {{obj.author}}
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">出版社</label>
            <div class="col-sm-10">
                {{obj.publish}}
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">出版日期</label>
            <div class="col-sm-10">
                {{obj.publishdate}}
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">印刷次数</label>
            <div class="col-sm-10">
                {{obj.publishtime}}
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">单价</label>
            <div class="col-sm-10">
                {{obj.unitprice}}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!-- <button type="submit" class="btn btn-default">登录</button> -->
                <input type="submit" value="提交">
            </div>
        </div>
    </form>
    </div>
</body>
</html>