<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static from staticfiles %}
    {% block linkscript %}

    {% endblock linkscript %}
</head>
<body>
    <h1>用户登陆</h1>
    <div id="login">
        <form action="/login/" method="POST">
            {% csrf_token %}
            <div>
                    账号：{{form.username}}
                <br/>
                <!-- {% if error.username.0 %}
                <span>{{error.username.0}}</span>
                {% endif %} -->
            </div>
            <div>
                密码：{{form.password}}
                <br/>
                <!-- {% if error.password.0 %}
                <span>{{error.password.0}}</span>
                {% endif %} -->
            </div>
            {% if message %}<p><font color="red">*{{message}}</font></p>{% endif %}
            <!-- {% if wrongMessage %}<p><font color="red">*{{wrongMessage}}</font></p>{% endif %} -->
            
            <div>
                <input type="submit" value="登录">
                <input type="reset" value="信息重置">   
            </div>
        </form>
    </div>
</body>
</html>